aside h1{
    font-family: font2;
    font-size: 2.5rem;
    padding: 0.8em;
}


.question1{
    width: 80%;
    position: relative;
    right: 50%;
    transform: translateX(50%);
}
.q1{
    background-color: #ebebeb;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 8px var(--m-color);
}
.checkbox{
    display: none;
}
.qution1{
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 0.5%;
}
.qtext1{
    font-size: 1.7rem;
    font-weight: 900;
    margin-right: 0.8%;
    cursor: pointer;
    position: relative;
    bottom: 0.1em;
    padding-left: 27em;
}
.lup1{
    font-size: 1.5rem;
    display: none;
    transition: 0.2s;
}
.lup1 label{
    cursor: pointer;
}
.lup1:hover{
    color: var(--m-color);
}
.ldown1{
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}
.ldown1:hover{
    color: var(--m-color);
}
.line1l{
    display: none;
    margin-top: 1em;
}
.qpara1{
    font-size: 1.4rem;
    color: #3e3e3e;
    margin-top: 0.8em;
    display: none;
}
#infocheck1:checked ~ .lup1{
    display: inline;
}
#infocheck1:checked ~ .ldown1{
    display: none;
}
#infocheck1:checked ~ .line1l{
    display: block;

}
#infocheck1:checked ~ .qpara1{
    display: block;
}








@media (max-width:1920px){
    .qtext1{
        padding-left: 32em;
    }
}
@media (max-width:1670px){
    .qtext1{
        padding-left: 30.5em;
    }
}
@media (max-width:1615px){
    .qtext1{
        padding-left: 28.5em;
    }
}
@media (max-width:1550px){
    .qtext1{
        padding-left: 27em;
    }
}
@media (max-width:1500px){
    .qtext1{
        padding-left: 26em;
    }
}
@media (max-width:1460px){
    .qtext1{
        padding-left: 25em;
    }
}
@media (max-width:1425px){
    .qtext1{
        padding-left: 24em;
    }
}
@media (max-width:1390px){
    .qtext1{
        padding-left: 23em;
    }
}
@media (max-width:1355px){
    .qtext1{
        padding-left: 22em;
    }
}
@media (max-width:1320px){
    .qtext1{
        padding-left: 21em;
    }
}
@media (max-width:1288px){
    .qtext1{
        padding-left: 20em;
    }
}
@media (max-width:1252px){
    .qtext1{
        padding-left: 19em;
    }
}
@media (max-width:1217px){
    .qtext1{
        padding-left: 18em;
    }
}
@media (max-width:1185px){
    .qtext1{
        padding-left: 17em;
    }
}
@media (max-width:1150px){
    .qtext1{
        padding-left: 16em;
    }
}
@media (max-width:1112px){
    .qtext1{
        padding-left: 15em;
    }
}
@media (max-width:1085px){
    .qtext1{
        padding-left: 14em;
    }
}
@media (max-width:1050px){
    .qtext1{
        padding-left: 13em;
    }
}
@media (max-width:1015px){
    .qtext1{
        padding-left: 12em;
    }
}
@media (max-width:977px){
    .qtext1{
        padding-left: 11em;
    }
}
@media (max-width:965px){
    .qtext1{
        padding-left: 10.5em;
    }
}
@media (max-width:935px){
    .qtext1{
        padding-left: 10em;
    }
}
@media (max-width:910px){
    .qtext1{
        padding-left: 9em;
    }
}
@media (max-width:885px){
    .qtext1{
        padding-left: 8em;
    }
}
@media (max-width:860px){
    .qtext1{
        padding-left: 7.5em;
    }
}
@media (max-width:835px){
    .qtext1{
        padding-left: 6.5em;
    }
}
@media (max-width:810px){
    .qtext1{
        padding-left: 6em;
    }
}
@media (max-width:770px){
    .qtext1{
        font-size: 1.5rem;
        padding-left: 5.7em;
    }
}





@media screen and (max-width:768px){
    aside h1{
        font-size: 2.3rem;
        padding: 0.6em;
    }
    .qution1{
        font-size: 1.3rem;
    }
    .qtext1{
        font-size: 1.5rem;
        padding-left: 5.7em;
    }
    .lup1{
        font-size: 1.2rem;
    }
    .ldown1{
        font-size: 1.2rem;
    }
    .qpara1{
        font-size: 1.2rem;
    }
}






@media (max-width:768px){
    .qtext1{
        padding-left: 8em;
    }
}
@media (max-width:745px){
    .qtext1{
        padding-left: 7.5em;
    }
}
@media (max-width:728px){
    .qtext1{
        padding-left: 7.3em;
    }
}
@media (max-width:723px){
    .qtext1{
        padding-left: 7em;
    }
}
@media (max-width:715px){
    .qtext1{
        padding-left: 6.8em;
    }
}
@media (max-width:708px){
    .qution1{
        font-size: 1.2rem;
    }
    .qtext1{
        font-size: 1.4rem;
        padding-left: 7.2em;
    }
}
@media (max-width:683px){
    .qution1{
        font-size: 1.1rem;
    }
    .qtext1{
        padding-left:8em;
        font-size:1.3rem ;
    }
}
@media (max-width:660px){
    .qtext1{
        padding-left: 7.3em;
    }
}
@media (max-width:637px){
    .qtext1{
        padding-left:6.5em;
    }
}
@media (max-width:628px){
    .qtext1{
        padding-left:6.8em;
        font-size:1.2rem ;
    }
}
@media (max-width:610px){
    .qtext1{
        padding-left: 6em;
    }
}
@media (max-width:585px){
    .qtext1{
        padding-left: 5em;
    }
}
@media (max-width:557px){
    .qution1{
        margin-right: 0;
    }
    .qtext1{
        font-size: 1.1rem;
        padding-left: 6em;
    }
}
@media (max-width:545px){
    .qtext1{
        padding-left: 5.2em;
    }
}
@media (max-width:525px){
    .qtext1{
        font-size: 1rem;
        padding-left: 6em;
        margin-left: 0.1rem;
    }
    .qpara1{
        font-size: 0.8rem;
    }
}
@media (max-width:520px){
    aside h1{
        font-size: 2.1rem;
        padding: 0.4em;
    }
    .qtext1{
        padding-left: 7em;
    }
}
@media (max-width:508px){
    .qtext1{
        padding-left: 5em;
    }
}
@media (max-width:485px){
    .qtext1{
        padding-left: 4.5em;
    }
}
@media (max-width:473px){
    .qtext1{
        font-size: 0.9rem;
        padding-left: 5em;
    }
}
@media (max-width:450px){
    .qtext1{
        padding-left: 4.5em;
    }
}
@media (max-width:425px){
    .qution1{
        font-size: 1.05rem;
    }
    .qtext1{
        padding-left: 3em;
    }
    .ldown1{
        font-size: 0.8rem;
    }
    .lup1{
        font-size: 0.8rem;
    }
}
@media (max-width:398px){
    .qtext1{
        padding-left: 2em;
    }
}
@media (max-width:380px){
    .qtext1{
        font-size: 0.8rem;
        padding-left: 3em;
    }
    .ldown1{
        font-size: 0.8rem;
    }
    .lup1{
        font-size: 0.8rem;
    }
    .qpara1{
        font-size: 0.6rem;
    }
}
@media (max-width:360px){
    .qution1{
        font-size: 0.8rem;
    }
    .qtext1{
        padding-left: 2em;
    }
}
@media (max-width:347px){
    .qution1{
        margin-left: 0.1em;
    }
    .qtext1{
        padding-left: 1.5em;
        margin-left: 0.1em;
    }
}
@media (max-width:338px){
    .qtext1{
        font-size: 0.7rem;
        padding-left: 2em;
    }
    .ldown1{
        font-size: 0.7rem;
    }
    .lup1{
        font-size: 0.7rem;
    }
}
@media screen and (max-width:320px) {
    aside h1{
        font-size: 1.9rem;
        padding: 0.3em;
    }
}